<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{>Tasks/TaskForm}}
        </div>
        <div class="col-md-7">
            {{>Tasks/TaskTable}}
        </div>
    </div>
</div>
